
.apptitle {
	background-color:#46ff51;
	color:white;
    margin-top : 45px;
    padding-left : 120px;
}
.peninfo {
	border-collapse:collapse;
}
.infofont {
	font-size : 10pt;
}
.explain_panel {
	border:1px dashed black;
	background-color : #c4fab3;
}
.debugmsg {
	display : none;
	position : relative;
	left : 600px;
}

/*===============================================================
  Core UI parts, important define
*/


.canvaspanel {
	/*width : 100%;
	height : 100%;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	margin-bottom : auto;
	text-align : center;*/
	border: 2px solid #808080;
	position : relative;
	/*top : 4rem;*/
	z-index : 1;
	/*margin-bottom : 1rem;*/
}
#canvaspanel .main-canvas{
	-webkit-touch-action:none;
	-ms-touch-action:none;
	touch-action:none;
	/*border:2px solid #808080;*/
	background-color: transparent;
	position : absolute;
	top : 0px;
	left : 0px;
	z-index : 1;
	cursor : crosshair;

}
.mostbase-canvas {
	/*background-image: url('../images/work_area_background.png');
	background-repeat: repeat;*/
	background-color: transparent;
	-ms-touch-action:none;
	-webkit-touch-action:none;
	touch-action:none;
	/*border:2px solid #808080;*/
	position : absolute;
	top : 0;
	left : 0;
	z-index : 1;
	cursor : crosshair;
}

.dummy-canvas {
	background-color: transparent;
	display : none;
	position : absolute;
}
.operate-canvas {
	background-color: transparent;
	-webkit-touch-action:none;
	-ms-touch-action:none;
	touch-action:none;
	position : absolute;
	top : 0;
	left : 0;
	z-index : 998;

}



/*===============================================================
  UI parts and button area
*/
.flatbutton {
	background-color : #c4fab3;
	border : 0;
}
.flatbutton:active {
	background-color : #91d780;
}
.flatbutton:disabled {
	background-color : #c0c8c2;
	border : 0;
}
.flatbutton-disabled {
	background-color : #c0c8c2;
	border : 0;
}
.flatbutton2 {
	background-color : #FFB99C;
	border : 0;
}
.flatbutton2:active {
	background-color : #DD977A;
}
.flatbutton2:disabled {
	background-color : #AA6219;
	border : 0;
}
.flatbutton-disabled2 {
	background-color : #AA6219;
	border : 0;
}
.flatbutton3 {
	background-color:#C2CEFF;
	border : 0;
}
.flatbutton3:active {
	background-color:#90ACDD;
}
.flatbutton3:disabled {
	background-color : #609ABB;
	border : 0;
}
.flatbutton-disabled3 {
	background-color : #609ABB;
	border : 0;
}

.uibutton {
	text-align : center;
	/*vertical-align : middle;*/
	height : 3rem;
	
}
.uibutton-mid {
	text-align : center;
	padding-top : 50%;
	font-size : 150%;
	cursor : default;
}

.button {
	width : 100%;
	height : 3rem;
	overflow : hidden;
	/*background-color : #c4fab3;
	border : 0;*/
}
.button:active {
	/*background-color : #91d780;*/
}
.button2 {
	overflow : hidden;
	background-color : #c4fab3;
	border : 0;
}
.button2:active {
	background-color : #91d780;
}

.statbutton {
	width : 45%; /*60px;*/
	height : 40px;
	background-color : #c4fab3;
	border : 0;
	overflow : hidden;
}
.statbutton:active {
	background-color : #91d780;
}

.statbutton2 {
	width : 6rem; /*80%;*/
	height : 60px;
	background-color : #c4fab3;
	border : 0;
	overflow : hidden;
}
.statbutton2:active {
	background-color : #91d780;
}

.stat_new {
	background-color:#FFB99C;
}
.stat_new:active {
	background-color:#DD977A;
}
.stat_save {
	background-color:#C2CEFF;
}
.stat_save:active {
	background-color:#90ACDD;
}
.stat_saveas {
	background-color:#C2CEAF;
}
.stat_saveas:active {
	background-color:#90ACAD;
}

.brushbutton {
	width : 10%;
	height : 1.4rem;
	background-color : #E4E444;
	border : 0;
	font-weight : 600;
	overflow : hidden;
	margin-bottom : 2px;
}
.brushbutton:hover {
	background-color : #949444;
	border : 0;
	font-weight : 600;
	overflow : hidden;
}
.brush-special {
	background-color : #E4AA5D;
}
.brush-special:hover {
	background-color : #C2883B;
}

/* =======================================sidebar=== */
#prespanel {
	float : left;
	width : 45px;
	height : 70%;
	margin-top:6rem; 
	display : none;
	background-color : #999999;
	color : #FFFFFF;
	position : relative;
	top : 0;
	left : 0;
	overflow : visible, hidden;
}
#pres_main {
	width : 45px;
	height : 100%;
	display : inline-block;
}
#pres_sub {
	width : 55px;
	height : 100%;
	position : absolute;
	top : 0px;
	left : 45px;
	display : none;
	background-color : #BBBBBB;
	color : #353535;
}
#chk_enable_handpres {
	font-size : 120%;
	height : 32px;
	width : 39px;
	padding-top : 0.5rem;
	text-align : center;
}
#box_handpres {
	display : none;
}
#presval {
	margin-left : 5px;
}
#pres_curline{

	/*margin-top : 75px;*/
	margin-left : -75px;
	padding-left : 0;
	width : 200px;
	height : 200px;
	-webkit-transform : rotate(-90deg);
	transform : rotate(-90deg);
}

.switchbutton_off {
	border : 3px outset #AFAFAF;
	background-color : #848484;
	cursor : default;
}
.switchbutton_on {
	border : 3px inset #DADADA;
	background-color : #84c0e1;
	cursor : default;
}
#btn_freescroll {
	font-size : 120%;
	height : 32px;
	width : 39px;
	padding-top : 0.5rem;
	text-align : center;
}
.sidebar_button {
	font-size : 120%;
	height : 32px;
	width : 39px;
	padding-top : 0.5rem;
	text-align : center;
}
#box_shapes {
	padding-left:0.0rem;
	display : none;
}
#box_select {
	padding-left:0.0rem;
	display : none;
}
.sidebar_radiobutton {
	width : 30px;
	height : 36px;
	font-size : 120%;
	text-align : center;
	padding-top : 0.5rem;
	margin-top : 10px; 
	margin-bottom : 10px;
	margin-left : auto;
	margin-right : auto;
	/*border : 3px inset #188643;
	color : #188643;
	background-color : #FFFFFF;*/
	border-radius : 15px 15px 15px 15px;
	cursor : default;
}
.sidebar_radio_on {
	color : #2A5EAC;
	background-color : #84c0e1;
}
.sidebar_radio_off {
	color : #188643;
	background-color : #FFFFFF;
}
/*#btn_makecanvas {
	background-color : #c4fab3;
	border : 0;
}
#btn_makecanvas:active {
	background-color : #91d780;
}*/


/* ======================================panel=== */
#ctrlpanel {
	display : none;
	margin-top : 0px;
	margin-left : 0px;
	position:fixed;
	width:100%;
}
#info_panel {
	margin : 0;
	padding :0;
	width : 100%;
}
#sysbtn_panel {
	float : left;
	/*margin-right : 1em;*/
	width : 5%;
}
#info_panel .info_opebutton {
	width : 100%;
	height : 1.5rem;
	background-color : #c4fab3;
	border :0px solid #999999;
	padding : 0 0 0 0;
	font-size : 120%;
}
#info_panel .info_opebutton2 {
	width : 47%;
	height : 1.5rem;
	background-color : #FFB99C;
	border :0px solid #999999;
	padding : 0 0 0 0;
	font-size : 120%;
}
#info_panel .info_opebutton2:disabled {
	background-color : #d3c9c5;
}
.button-panel{
	width : 85%;
	/*margin-left:1em; 
	margin-top:10px; 
	margin-right:10em; 
	margin-bottom:3px;*/
}
#menupanel {
	display : none;
	width : 95%;
	height : 40%;
	position : absolute;
	top : 3rem;
	left : 0;
	background-color : #B6BBE4;
	padding: 0.5rem 0.5rem;
	z-index : 10;
	opacity : 0.85;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
}
#menu_left {
	width : 15%;
	height : 100%;
	float : left;
	opacity : 1;
	/*border-right : 4px inset #ADADAD;*/
}
#menu_left button {
	height : 20%;
}
#menu_right {
	width : 85%;
	height : 50%;
	margin-left : 2em;
	opacity : 1;
	display : block;
}
#menu_bottom {
	clear : both;
	width : 100%;
	height : 50%;
	display : none;
}

#colorpicker {
	height : 27px;
	width : 10%;
	float:left;
}
#colorpalette {
	width : 100%;
	margin-top : 3px;
}
.explain_palette {
	float:left;
	vertical-align : center;
	height : 30px;
	width : 2%;
}
#palettepanel {
	width : 80%;
	border-collapse:collapse;
}
.palette_button {
	width : 5%;
	height : 27px;
	border : 1px solid #808080;
	background-color : #FFFFFF;
	text-align : center;
}
#dlg_layer {
	display : none;
	width : 75%;
	height : 30%;
	overflow : hidden;
	position : absolute;
	top : 3rem;
	left : calc(20%);
	padding: 0.5rem 0.5rem;
	background-color : #B6BBE4;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.9;
	z-index : 12;
}
.layer_button {
	width : 48px;
	height : 32px;
	padding : 7px 15px 7px 15px;
	background-color : #FFFFFF;
	color : #000000;
	cursor : default;
}
.layer_button_show {
	border : 1px solid #808080;
}
.layer_button_hidden {
	border : 3px double #808080;
	text-decoration : line-through;
}
.layer_button_selected {
	width : 48px;
	height : 32px;
	padding : 7px 15px 7px 15px;
	background-color : #AAAAFF;
	color : #FFFFFF;
	cursor : default;
}
.layinfo_ui {
	margin-left : 1rem;
}
#lay_btns {
	margin-top : 10px;
	margin-bottom : 10px;
}
.layer_main {
}
#layinfo_opacity {
	width : 20%;
}
.laycontrol_button {
	width : 5rem;
}
#lay_preview {
	width : calc(32px*4);
	height : calc(32px*4);
	overflow : hidden;
	float : left;
	background-color : #D8DDF6
}
#lab_layinfo_cliphistory {
	margin-left : 1rem;
}
#layinfo_cliphistory {
	width  : 5.5rem;
	height : 3.5rem;
	font-size : 150%;
}
img.clipthumb {
	width : 3rem;
	height : 3rem;
	background-color : #FFFFFF;
	border : 0;
	vertical-align : middle;
}
#dlg_pen_mode {
	display : none;
	width : 50%;
	height : 80%;
	overflow : hidden;
	position : absolute;
	top : 3rem;
	left : 44%;
	background-color : #B6BBE4; /*#E4D8E1;*/
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.85;
	z-index : 11;
}
#dlg_pen_mode ul {
	padding-left : 25px;
	list-style : none;
}
#dlg_pen_mode ul > li.item1stfolder {
	list-style : none;
	width : 97%;
	
	margin-bottom : 1px;
}
li.itemfolder_special {
	background-color : #F8DD9E;
}
li.itemfolder_normal {
	background-color : #F8F888;
}
li.itemfolder_brush {
	background-color : #CBFBE4;
}
#dlg_pen_mode div > div.item1st {
	/*list-style : none;*/
	width : 25%;
	height : 35px;
	display: inline-block;
	font-size : 80%;
	vertical-align : middle;
	
	background-color : #E4E444;
	margin-bottom : 0px;
	cursor : default;
}
img.floatIcon {
	float: left;
}
#dlg_pen_mode div > div.item1st:hover {
	background-color : #949444;
}
#dlg_pen_mode div > div.item1st-brush {
	background-color : #63DE98;
}
#dlg_pen_mode div > div.item1st-brush:hover {
	background-color : #2DBE6B;
}

#dlg_pen_mode div > div.item1st-special {
	background-color : #E4AA5D;
}
#dlg_pen_mode div > div.item1st-special:hover {
	background-color : #C2883B;
}
#dlg_canvasinfo {
	display : none;
	width : 32%;
	height : 30%;
	overflow : hidden;
	position : absolute;
	top : 3rem;
	left : 2%;
	padding: 0.5rem 0.5rem;
	background-color : #B6BBE4;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.9;
	z-index : 11;
}
#tbl_magni {
	width : 95%;
}
td.magni_element {
	background-color : #F0EEC6;
	cursor : default;
	text-align : center;
	height : 1.2rem;
}
td.magni_element:hover {
	background-color : #D8CCA4;
}
td.magni_element:active {
	background-color : #B6AA92;
}
td.magni_strong {
	background-color : #E6E05B;
	cursor : default;
	text-align : center;
}
td.magni_strong:hover {
	background-color : #C4B839;
}
td.magni_strong:active {
	background-color : #A29617;
}

#pickerpanel{
	position : absolute;
	top : calc(32px + 3rem + 2px);
	left : 1%;
	/*border:1px solid gray;*/
	background-color : #B6BBE4;
	width : 200px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.85;
	z-index : 999;
}
#progresspanel {
	position:absolute;
	top:0;
	left:0;
	width:300px;
	height:120px;
	background-color : #B6BBE4;;
	display : none;
	z-index : 999;
}
#progressicon {
	margin-left : auto;
	margin-right : auto;
	width : 50px;
	height : 50px;
	border-radius:40px 40px 40px 40px;
	border : dashed 2px black;
}
#dlg_plugin {
	display : none;
	width : 75%;
	height : 45%;
	overflow : hidden;
	position : absolute;
	top : 3rem;
	left : calc(20%);
	padding: 0.5rem 0.5rem;
	background-color : #B6BBE4;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.9;
	z-index : 15;
}
fieldset.pluginset {
	height : 100%;
}
/*select.pluginlist*/
#btn_close_plugin {
	height : 1.5rem;
}
#btn_download_plugin {
	background-color : #c4fab3;
	border : 0;
	height : 90%;
}
#btn_download_plugin:active {
	background-color : #91d780;
}
#btn_del_plugin {
	width : 100%;
	height : 1.5rem;
}
#btn_reload_plugin {
	width : 2rem;
	height : 1.5rem;
}

@-webkit-keyframes waitprogress {
	0% { transform:rotate(0deg); }
	25% { transform:rotate(45deg); }
	50% { transform:rotate(90deg); }
	75% { transform:rotate(180deg);}
	100% {  transform:rotate(360deg); }
}
@keyframes waitprogress {
	0% { transform:rotate(0deg); }
	25% { transform:rotate(45deg); }
	50% { transform:rotate(90deg); }
	75% { transform:rotate(180deg);}
	100% {  transform:rotate(360deg); }
}
.get-animestart {
-webkit-animation-duration: 4s;
-webkit-animation-name : waitprogress;
-moz-animation-duration: 4s;
-moz-animation-name : waitprogress;
animation-duration: 4s;
animation-name : waitprogress;
animation-fill-mode : forwards;
animation-iteration-count : infinite;
}
