
.apptitle {
	background-color:#46ff51;
	color:white;
    margin-top : 45px;
    padding-left : 120px;
}
.peninfo {
	border-collapse:collapse;
}
.infofont {
	font-size : 10pt;
}
.explain_panel {
	border:1px dashed black;
	background-color : #c4fab3;
}
.debugmsg {
	display : none;
	position : relative;
	left : 600px;
}
#area_projdir {
	visibility : hidden;
}
/*===============================================================
  Core UI parts, important define
*/


.canvaspanel {
	/*width : 100%;
	height : 100%;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	margin-bottom : auto;
	text-align : center;*/
	border: 2px solid #808080;
	position : relative;
	/*top : 6rem;*/
	/*z-index : 1;*/
	/*margin-bottom : 1rem;*/
	cursor : none;
}
#canvaspanel .main-canvas{
	-moz-touch-action:none;
	-webkit-touch-action:none;
	-ms-touch-action:none;
	touch-action:none;
	/*border:2px solid #808080;*/
	background-color: transparent;
	position : absolute;
	top : 0px;
	left : 0px;
	/*z-index : 1;*/
	/*cursor : crosshair;*/

}
.mostbase-canvas {
	/*background-image: url('../images/work_area_background.png');
	background-repeat: repeat;*/
	background-color: transparent;
	-moz-touch-action:none;
	-ms-touch-action:none;
	-webkit-touch-action:none;
	touch-action:none;
	/*border:2px solid #808080;*/
	position : absolute;
	top : 0;
	left : 0;
	/*z-index : 1;*/
	
}
.screen-divelem {
	background-color: transparent;
	-moz-touch-action:none;
	-ms-touch-action:none;
	-webkit-touch-action:none;
	touch-action:none;
	position : absolute;
	top : 0;
	left : 0;
	z-index : 951;
	width : 100%;
	height : 100%;
	
}

.dummy-canvas {
	background-color: transparent;
	display : none;
	position : absolute;
}
.operate-canvas {
	background-color: transparent;
	-moz-touch-action:none;
	-webkit-touch-action:none;
	-ms-touch-action:none;
	touch-action:none;
	position : absolute;
	top : 0;
	left : 0;
	/*z-index : 998;*/

}


/*===============================================================
  UI parts and button area
*/
.flatbutton {
	background-color : #c4fab3;
	border : 0;
}
.flatbutton:active {
	background-color : #91d780;
}
.flatbutton:disabled {
	background-color : #c0c8c2;
	border : 0;
}
.flatbutton-disabled {
	background-color : #c0c8c2;
	border : 0;
}
.flatbutton2 {
	background-color : #FFB99C;
	border : 0;
}
.flatbutton2:active {
	background-color : #DD977A;
}
.flatbutton2:disabled {
	background-color : #AA6219;
	border : 0;
}
.flatbutton-disabled2 {
	background-color : #AA6219;
	border : 0;
}
.flatbutton3 {
	background-color:#C2CEFF;
	border : 0;
}
.flatbutton3:active {
	background-color:#90ACDD;
}
.flatbutton3:disabled {
	background-color : #609ABB;
	border : 0;
}
.flatbutton-disabled3 {
	background-color : #609ABB;
	border : 0;
}

.uibutton {
	text-align : center;
	/*vertical-align : middle;*/
	height : 3rem;
	
}
.uibutton-mini {
	text-align : center;
	/*vertical-align : middle;*/
	height : 1.5rem;
	
}
.uibutton-mini2 {
	text-align : center;
	/*vertical-align : middle;*/
	height : 2rem;
	
}
.uibutton-mid {
	text-align : center;
	padding-top : 10%;
	font-size : 150%;
	cursor : default;
	height : 2.5rem;
}
.uibutton-large1 {
	text-align : center;
	/*vertical-align : middle;*/
	height : 3rem;
	
}

.button {
	width : 100%;
	/*height : 3rem;*/
	overflow : hidden;
	/*background-color : #c4fab3;
	border : 0;*/
-moz-user-select: none; /* Firefox */
-webkit-user-select: none; /* SafariAChrome‚È‚Ç */
-ms-user-select: none; /* IE10‚©‚ç‚ç‚µ‚¢ */
user-select: none; /* CSS3 */

}
.button:active {
	/*background-color : #91d780;*/
}
.button2 {
	overflow : hidden;
	background-color : #c4fab3;
	border : 0;
}
.button2:active {
	background-color : #91d780;
}
.button1half {
	width : 49%;
	/*height : 3rem;*/
	overflow : hidden;
	/*background-color : #c4fab3;
	border : 0;*/
}
.statbutton {
	width : 45%; /*60px;*/
	height : 40px;
	background-color : #c4fab3;
	border : 0;
	overflow : hidden;
}
.statbutton:active {
	background-color : #91d780;
}

.statbutton2 {
	width : 6rem; /*80%;*/
	height : 60px;
	background-color : #c4fab3;
	border : 0;
	overflow : hidden;
}
.statbutton2:active {
	background-color : #91d780;
}

.stat_new {
	background-color:#FFB99C;
}
.stat_new:active {
	background-color:#DD977A;
}
.stat_save {
	background-color:#C2CEFF;
}
.stat_save:active {
	background-color:#90ACDD;
}
.stat_saveas {
	background-color:#C2CEAF;
}
.stat_saveas:active {
	background-color:#90ACAD;
}

.brushbutton {
	width : 10%;
	height : 1.4rem;
	background-color : #E4E444;
	border : 0;
	font-weight : 600;
	overflow : hidden;
	margin-bottom : 2px;
}
.brushbutton:hover {
	background-color : #949444;
	border : 0;
	font-weight : 600;
	overflow : hidden;
}
.brush-special {
	background-color : #E4AA5D;
}
.brush-special:hover {
	background-color : #C2883B;
}

/* =======================================sidebar=== */
#prespanel {
	float : left;
	width : 45px;
	height : calc(100% - 7.5rem); /*70%;*/
	margin-top:0;
	display : none;
	/*background-color : #999999;*/
	color : #FFFFFF;
	position : absolute;
	top : 4rem;
	left : 0;
	padding-top:0;
	overflow : hidden;
	z-index : 2;
	opacity : 1;
	cursor : default;
}
/*#prespanel:hover{
	opacity : 1.0;
}*/
#pres_main {
	position : absolute;
	top:0;
	left:0;
	width : 45px;
	height : 100%;
	display : inline-block;
	z-index : 3;
	padding-top : 2rem;
}
#pres_sub {
	width : 55px;
	height : 100%;
	position : absolute;
	top : 0px;
	left : 45px;
	display : none;
	background-color : #BBBBBB;
	color : #353535;
	z-index : 3;
	padding-top : 2rem;
}
#chk_enable_handpres {
	font-size : 120%;
	height : 32px;
	width : 39px;
	padding-top : 0.5rem;
	text-align : center;
}
#box_handpres {
	display : none;
}
#presval {
	margin-left : 5px;
}
#pres_curline{

	/*margin-top : 75px;*/
	margin-left : -75px;
	padding-left : 0;
	width : 200px;
	height : 200px;
	-webkit-transform : rotate(-90deg);
	transform : rotate(-90deg);
}

.switchbutton_off {
	border : 3px outset #AFAFAF;
	background-color : #848484;
	cursor : default;
}
.switchbutton_on {
	border : 3px inset #DADADA;
	background-color : #84c0e1;
	cursor : default;
}
#btn_freescroll {
	font-size : 120%;
	height : 32px;
	width : 39px;
	padding-top : 0.5rem;
	text-align : center;
}
.sidebar_button {
	font-size : 120%;
	height : 32px;
	width : 39px;
	padding-top : 0.5rem;
	text-align : center;
}
#box_shapes {
	padding-left:0.0rem;
	display : none;
}
#box_select {
	padding-left:0.0rem;
	display : none;
}
.sidebar_radiobutton {
	width : 30px;
	height : 32px;
	font-size : 120%;
	text-align : center;
	padding-top : 0.5rem;
	margin-top : 10px; 
	margin-bottom : 10px;
	margin-left : auto;
	margin-right : auto;
	/*border : 3px inset #188643;
	color : #188643;
	background-color : #FFFFFF;*/
	border-radius : 15px 15px 15px 15px;
	cursor : default;
}
.sidebar_radio_on {
	color : #2A5EAC;
	background-color : #84c0e1;
}
.sidebar_radio_off {
	color : #188643;
	background-color : #FFFFFF;
}
/*#btn_makecanvas {
	background-color : #c4fab3;
	border : 0;
}
#btn_makecanvas:active {
	background-color : #91d780;
}*/

/* ======================================initial panel=== */
div.dragover_indicate {
	border : 3px dashed #858585;
	background-color : #D9D9D9;
}
#initialsetup {
	width : 100%;
}
.initcan_1c {
	width : 5%;
}
.initcan_2c {
	width : 85%;
}
.initcan_3c {
	width : 10%;
}
/* ======================================panel=== */
#ctrlpanel {
	display : none;
	margin-top : 0px;
	margin-left : 0px;
	position:fixed;
	top : 0;
	left : 0;
	width: 100%;
	height : 6rem;
	z-index : 3;
}
#info_panel {
	margin : 0;
	padding :0;
	width : 100%;
	padding-top : 0.25rem;
	padding-left : 0.25rem;
}
#info_currentpos {
	color : #FAFAFA;
}
#info_brush_size {
	cursor : default;
}
#sysbtn_panel {
	float : left;
	/*margin-right : 1em;*/
	width : 5%;
}
#info_panel .info_opebutton {
	width : 100%;
	height : 1.5rem;
	background-color : #c4fab3;
	border :0px solid #999999;
	padding : 0 0 0 0;
	font-size : 120%;
}
#info_panel .info_opebutton2 {
	width : 47%;
	height : 1.5rem;
	background-color : #FFB99C;
	border :0px solid #999999;
	padding : 0 0 0 0;
	font-size : 120%;
}
#info_panel .info_opebutton2:disabled {
	background-color : #d3c9c5;
}
.button-panel{
	width : 100%;
	height : 4rem;
	padding-left : 0.25rem;
	/*margin-left:1em; 
	margin-top:10px; 
	margin-right:10em; 
	margin-bottom:3px;*/
	background-color : #999999;

}
#menupanel {
	display : none;
	width : 95%;
	height : 80%;
	position : absolute;
	top : 2.2rem;
	left : 0;
	background-color : #B6BBE4;
	padding: 0.5rem 0.5rem;
	z-index : 10;
	opacity : 0.85;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
}
#menu_left {
	width : 15%;
	height : 100%;
	float : left;
	opacity : 1;
	/*border-right : 4px inset #ADADAD;*/
}
#menu_left button {
	height : 20%;
}
#menu_right {
	width : 85%;
	height : 50%;
	margin-left : 2em;
	opacity : 1;
	display : block;
}
#menu_bottom {
	clear : both;
	width : 100%;
	height : 50%;
	display : none;
}
#sv_palettevalue {
	width : 80%;
	height: 6rem;
	overflow : auto;
	background-color : #FFFFFF;
	border : 1px solid black;
	font-family : monospace;
	font-size : 80%;
}
#txt_correction_level {
	width : 10rem;
}
#sel_color_palmrest {
	height : 2rem;
	font-size : 120%;
}
input.text_line_s {
	width : 3rem;
}
/* =======================================color picker=== */
#colorpicker {
	height : 1.5rem;
	width : 10%;
	float:left;
}
#colorpalette {
	width : 100%;
	margin-top : 3px;
}
.explain_palette {
	float : left;
	vertical-align : middle;
	text-align : center;
	height : 30px;
	width : 2rem;
	font-size  :150%;
	color : #ebcf4c;
	cursor : default;
}
.explain_palette:hover {
	color : #f0ecd6;
}
.explain_palette:active {
	color : #a08713;
}
#palettepanel {
	width : 80%;
	border-collapse:collapse;
}
#palettepanel_body {
	width : 100%;
}
.palette_line {
	display : none;
	width : 100%;
	margin-bottom : 0.5rem;
}
.palette_emptyline {
	width : 100%;
	height : 1rem;
	display : none;
}
.palette_empty_td {
	/*width : 100%;*/
	background-color : #999999;
	opacity : 0.0;
	border : 0;
}
.palette_button {
	width : 5%; 
	height : 1.5rem;
	border : 1px solid #808080;
	padding-left : 0;
	padding-right : 0;
	background-color : #FFFFFF;
	text-align : center;
}
#pickerpanel {
	position : absolute;
	top : calc(32px + 3rem + 2px);
	left : 1%;
	/*border:1px solid gray;*/
	background-color : #B6BBE4;
	width : 200px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.85;
	z-index : 999;
}
#pickerpanel2 {
	position : absolute;
	/*top : calc(32px + 3rem + 2px);
	left : 1%;
	border:1px solid gray;*/
	background-color : #B6BBE4;
	width : 200px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.85;
	z-index : 999;
}


/* =======================================layer panel=== */
#dlg_layer {
	display : none;
	width : 95%;
	height : 30%;
	overflow : hidden;
	position : absolute;
	top : 2.2rem;
	left : 0;
	padding: 0.5rem 0.5rem;
	background-color : #B6BBE4;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.9;
	z-index : 12;
}
.layer_button {
	width : 45px;
	height : 32px;
	padding : 7px 15px 7px 15px;
	background-color : #FFFFFF;
	color : #000000;
	cursor : default;
}
.layer_button_show {
	border : 1px solid #808080;
}
.layer_button_hidden {
	border : 3px double #808080;
	text-decoration : line-through;
}
.layer_button_selected {
	width : 45px;
	height : 32px;
	padding : 7px 15px 7px 15px;
	background-color : #AAAAFF;
	color : #FFFFFF;
	cursor : default;
}
.layinfo_ui {
	margin-left : 1rem;
}
#lay_btns {
	padding-top : 10px;
	padding-bottom : 10px;
	width : 100%;
	
	max-height : 20%;
	overflow-x : auto;
	overflow-y : hidden;
}
.layer_main {
}
#layinfo_opacity {
	width : 20%;
}
.laycontrol_button {
	width : 3.2rem;
	height : 2rem;
}
#lay_preview {
	width : calc(32px*4);
	height : calc(32px*4);
	overflow : hidden;
	float : left;
	background-color : #D8DDF6
}
#lab_layinfo_cliphistory {
	margin-left : 1rem;
}
#layinfo_cliphistory {
	width  : 5.5rem;
	height : 3.5rem;
	font-size : 150%;
}
img.clipthumb {
	width : 3rem;
	height : 3rem;
	background-color : #FFFFFF;
	border : 0;
	vertical-align : middle;
}
/* =======================================brush panel=== */
#dlg_pen_mode {
	display : none;
	width : 95%;
	height : 80%;
	overflow : hidden;
	position : absolute;
	top : 2.2rem;
	left : 0%;
	background-color : #B6BBE4; /*#E4D8E1;*/
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.85;
	z-index : 11;
}
#dlg_pen_mode ul {
	padding-left : 25px;
	list-style : none;
}
#dlg_pen_mode ul > li.item1stfolder {
	list-style : none;
	width : 97%;
	
	margin-bottom : 1px;
}
li.itemfolder_special {
	background-color : #F8DD9E;
}
li.itemfolder_normal {
	background-color : #F8F888;
}
li.itemfolder_brush {
	background-color : #CBFBE4;
}
#dlg_pen_mode div > div.item1st {
	/*list-style : none;*/
	width : 25%;
	height : 35px;
	display: inline-block;
	font-size : 80%;
	vertical-align : middle;
	
	background-color : #E4E444;
	margin-bottom : 0px;
	cursor : default;
}
img.floatIcon {
	float: left;
}
#dlg_pen_mode div > div.item1st:hover {
	background-color : #949444;
}
#dlg_pen_mode div > div.item1st-brush {
	background-color : #63DE98;
}
#dlg_pen_mode div > div.item1st-brush:hover {
	background-color : #2DBE6B;
}

#dlg_pen_mode div > div.item1st-special {
	background-color : #E4AA5D;
}
#dlg_pen_mode div > div.item1st-special:hover {
	background-color : #C2883B;
}
/* =======================================canvas panel=== */
#dlg_canvasinfo {
	display : none;
	width : 95%;
	height : calc(2.4rem + 1.7rem + 2.4rem + 1.7rem + 5rem);
	overflow : hidden;
	position : absolute;
	top : 2.2rem;
	left : 0%;
	padding: 0.5rem 0.5rem;
	background-color : #B6BBE4;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.9;
	z-index : 11;
}
#area_magni {
	width : 32%;
	float : left;
}
#area_rotation {
}
#tbl_magni {
	width : 100%;
}
td.magni_element {
	background-color : #F0EEC6;
	cursor : default;
	text-align : center;
	height : 1.7rem;
}
td.magni_element:hover {
	background-color : #D8CCA4;
}
td.magni_element:active {
	background-color : #B6AA92;
}
td.magni_strong {
	background-color : #E6E05B;
	cursor : default;
	text-align : center;
	height : 2.4rem;
}
td.magni_strong:hover {
	background-color : #C4B839;
}
td.magni_strong:active {
	background-color : #A29617;
}
/* =======================================progress panel=== */
#progresspanel {
	position:absolute;
	top:0;
	left:0;
	width:300px;
	height:120px;
	background-color : #B6BBE4;;
	display : none;
	z-index : 999;
}
#progressicon {
	margin-left : auto;
	margin-right : auto;
	width : 50px;
	height : 50px;
	border-radius:40px 40px 40px 40px;
	border : dashed 2px black;
}
/* =======================================filelist dialog=== */
#dlg_filelist {
	display : none;
	width : 50%;
	height : 50%;
	position : absolute;
	top : 25%;
	left : 25%;
	background-color : #B6BBE4;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	z-index : 10;
	opacity : 0.85;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
}
#dlg_filelist_header_area {
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 2rem;
	background-color : #00BCD4;
}
#lst_filelist {
	position : absolute;
	top : 2rem;
	left : 0;
	width : 100%;
	height : 95%;
	overflow : auto;
}
#dlg_filelist ul {
	list-style : none;
	width : 100%;
	padding-left : 5px;
}
.dlg_filelist_disabled {
	background-color : #8388B1;
}
li.fl_item {
	width : 240px;
	height : 170px;
	text-align : center;
	display: inline-block;
	margin-left : 1rem;
	margin-right : 1rem;
	cursor : default;
}
li.fl_item figcaption {
	cursor : default;
}
li.fl_item img {
	vertical-align : middle;
}
li.fl_item:hover {
	
	background-color : #8388B1;
	opacity : 0.3;
}
li.fl_item_disabled {
	background-color : #8388B1;
}
/* =======================================htmlbox dialog=== */
#dlg_htmlbox {
	display : none;
	position : absolute;
	top : 15%;
	left : 0;
	background-color : #B6BBE4;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	z-index : 10;
	opacity : 0.85;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
}
.dlg_fixedbox-x {
	width : 100%;
}
.dlg_fixedbox-y {
	height : 15rem;
}
/*@media screen and ((min-height : 601px)) {
	.dlg_fixedbox-y {
		height : 50%;
	}
}*/


#dlg_htmlbox_header_area {
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 2rem;
	background-color : #00BCD4;
}
#dlg_htmlbox_main {
	margin-top : 3rem;
	width : 98%;
	height : 6rem;
}
#dlg_htmlbox_footer_area {
	position : absolute;
	bottom : 0;
	left : 0;
	width : 100%;
	height : 3rem;
}
#inp_htmlbox_css {
	width : 70%;
	height: 1rem;
}
#inp_htmlbox_src {
	border : 1px inset gray;
	background-color : #FFFFFF;
	width : 100%;
	height : 2.5rem;
	font-size : 150%;
}
.sel_htmlbox {
	height : 1.5rem;
	font-size : 110%;
}
.box_radiobutton {
	display : inline-block;
	width : 2rem;
	height: 1.2rem;
	text-align : center;
}
.radio_none {
	background-color : #566471;
	color : #DFDFDF;
}
.radio_current {
	background-color : #DFDFDF;
	color : #566471;
}
/* =======================================plugin dialog=== */
#dlg_plugin {
	display : none;
	width : 75%;
	height : 45%;
	overflow : hidden;
	position : absolute;
	top : 3rem;
	left : calc(20%);
	padding: 0.5rem 0.5rem;
	background-color : #B6BBE4;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.9;
	z-index : 15;
}
fieldset.pluginset {
	height : 100%;
}
/*select.pluginlist*/
#btn_close_plugin {
	height : 1.5rem;
}
#btn_download_plugin {
	background-color : #c4fab3;
	border : 0;
	height : 90%;
}
#btn_download_plugin:active {
	background-color : #91d780;
}
#btn_del_plugin {
	width : 100%;
	height : 1.5rem;
}
#btn_reload_plugin {
	width : 2rem;
	height : 1.5rem;
}
/* =======================================animation=== */
@-webkit-keyframes waitprogress {
	0% { transform:rotate(0deg); }
	25% { transform:rotate(45deg); }
	50% { transform:rotate(90deg); }
	75% { transform:rotate(180deg);}
	100% {  transform:rotate(360deg); }
}
@keyframes waitprogress {
	0% { transform:rotate(0deg); }
	25% { transform:rotate(45deg); }
	50% { transform:rotate(90deg); }
	75% { transform:rotate(180deg);}
	100% {  transform:rotate(360deg); }
}
.get-animestart {
-webkit-animation-duration: 4s;
-webkit-animation-name : waitprogress;
-moz-animation-duration: 4s;
-moz-animation-name : waitprogress;
animation-duration: 4s;
animation-name : waitprogress;
animation-fill-mode : forwards;
animation-iteration-count : infinite;
}

#dumcursor {
	width : 2px;
	height : 2px;
	border : 1px dotted #454545;
	border-radius : 25px;
	display : none;
	
}

/* --- web icon setup -- */
#lab_initialsetup:before {
	font-family : 'paintmfont';
	content : "I";
	font-size : 150%;
}
#lab_loadproject:before {
	font-family : 'paintmfont';
	content : "m";
	font-size : 150%;
}
#btn_menu:before {
	font-family : 'paintmfont';
	content : "A";
}
#info_brush_size:before {
	font-family : 'paintmfont';
	content : "B";
}}
#btn_save:before {
	font-family : 'paintmfont';
	content : "l";
}
#lab_enable_grid:before {
	font-family : 'paintmfont';
	content : "k";
}
#lab_magni:before {
	font-family : 'paintmfont';
	content : "e";
	color : #385fa3;
	font-size : 120%;
}
#lab_magni:after {
	font-family : 'paintmfont';
	content : "f";
	color : #c14325;
	font-size : 120%;
}
#explain_palette:before {
	font-family : 'paintmfont';
	content : "N";

}
#lab_explain_layer:before {
	font-family : 'paintmfont';
	content : "b";
	font-size : 150%;
}
#lay_add:before {
	font-family : 'paintmfont';
	content : "g";
}
#lay_del:before {
	font-family : 'paintmfont';
	content : "h";
}
.layer_viewbtn_visible:before {
	font-family : 'paintmfont';
	content : "H";
	font-size : 150%;
}
.layer_viewbtn_invisible:before {
	font-family : 'paintmfont';
	content : "G";
	font-size : 150%;
}

.layer_lockbtn_lock:before {
	font-family : 'paintmfont';
	content : "K";
	font-size : 150%;
}
.layer_lockbtn_unlock:before {
	font-family : 'paintmfont';
	content : "L";
	font-size : 150%;
}
#btn_dropper:before {
	font-family : 'paintmfont';
	content : "M";
}
#btn_freescroll:before {
	font-family : 'paintmfont';
	content : "J";
}
#btn_aroundgrid:before {
	font-family : 'paintmfont';
	content : "k";
}
#btn_shapes:before {
	font-family : 'paintmfont';
	content : " c ";
}
#chk_shapes_html:before {
	font-family : 'paintmfont';
	content : "U";
}
#btn_select:before {
	font-family : 'paintmfont';
	content : "R";
}
#sel_seltype_box:before {
	font-family : 'paintmfont';
	content : "S";
}
#sel_seltype_free:before {
	font-family : 'paintmfont';
	content : "T";
}
#sel_seltype_move:before {
	font-family : 'paintmfont';
	content : "Z";
}
#sel_seltype_rotate:before {
	font-family : 'paintmfont';
	content : "a";
}
#sel_seltype_scale {
	font-size : 60%;
}
/*#sel_seltype_scale:before {
	font-family : 'paintmfont';
	content : "g";
}*/
#sel_seltype_tempdraw:before {
	font-family : 'paintmfont';
	content : "D";
}
#sel_operationtype_copy:before {
	font-family : 'paintmfont';
	content : "O";
}
#sel_operationtype_copy_concat:before {
	font-family : 'paintmfont';
	content : "p";
}

#sel_operationtype_cut:before {
	font-family : 'paintmfont';
	content : "P";
}
.operation_paste:before {
	font-family : 'paintmfont';
	content : "i";
}
.operation_pastefix:before {
	font-family : 'paintmfont';
	content : "j";
}

#htmlbox_align_left:before {
	font-family : 'paintmfont';
	content : "V";
}
#htmlbox_align_center:before {
	font-family : 'paintmfont';
	content : "W";
}
#htmlbox_align_right:before {
	font-family : 'paintmfont';
	content : "X";
}
#lab_text_vertical:before {
	font-family : 'paintmfont';
	content : " Y ";
	font-size : 150%;
}
