body,html{
	padding:0;
	margin:0;
	height : 100%;
	overflow : hidden;
-moz-user-select: none; /* Firefox */
-webkit-user-select: none; /* Safari、Chromeなど */
-ms-user-select: none; /* IE10かららしい */
user-select: none; /* CSS3 */
-webkit-touch-action: none;
-ms-touch-action: none;
touch-action: none;
}

.base-panel{
	/*margin-left:45px; */
	/*margin-top: 6rem; 60px; 
	margin-right:1rem; 
	margin-bottom:1rem;*/
	/*border:2px solid #808080;
	width:600px;
	float : left;*/
	/*width : 95%;*/
	height : calc(100% - 7.5rem); /*85%;*/
	
	position : relative;
	top : 5rem;
	display : none;
	z-index : 1;
	overflow : scroll;
	/*overflow : hidden; ストアアプリではこっちを有効化すること*/
	-webkit-touch-action:none;
	-ms-touch-action:none;
	touch-action:none;
	cursor : crosshair;

}

select.pluginlist {
	width : 15rem;
	height : 75%;
	font-size : 130%;
}
