bodyl{
	
}
#fl_projpath {
    display : none;
}
/*===============================================================
  UI parts and button area
*/
.button {
	width : 100%;
	height : 3em;
	overflow : hidden;
	background-color : #c4fab3;
	border : 0;
}
.button:active {
	background-color : #91d780;
}
.button2 {
	overflow : hidden;
	background-color : #c4fab3;
	border : 0;
}
.button2:active {
	background-color : #91d780;
}

.statbutton {
	width : 45%; /*60px;*/
	height : 40px;
	background-color : #c4fab3;
	border : 0;
	overflow : hidden;
}
.statbutton:active {
	background-color : #91d780;
}

.statbutton2 {
	width : 6rem; /*80%;*/
	height : 60px;
	background-color : #c4fab3;
	border : 0;
	overflow : hidden;
}
.statbutton2:active {
	background-color : #91d780;
}

.stat_new {
	background-color:#FFB99C;
}
.stat_new:active {
	background-color:#DD977A;
}
.stat_save {
	background-color:#C2CEFF;
}
.stat_save:active {
	background-color:#90ACDD;
}
.stat_saveas {
	background-color:#C2CEAF;
}
.stat_saveas:active {
	background-color:#90ACAD;
}

.brushbutton {
	width : 10%;
	height : 1.4rem;
	background-color : #E4E444;
	border : 0;
	font-weight : 600;
	overflow : hidden;
	margin-bottom : 2px;
}
.brushbutton:hover {
	background-color : #949444;
	border : 0;
	font-weight : 600;
	overflow : hidden;
}
.brush-special {
	background-color : #E4AA5D;
}
.brush-special:hover {
	background-color : #C2883B;
}
.switchbutton_off {
	border : 3px outset #AFAFAF;
	background-color : #848484;
	cursor : default;
}
.switchbutton_on {
	border : 3px inset #DADADA;
	background-color : #84c0e1;
	cursor : default;
}
#btn_freescroll {
	font-size : 120%;
	height : 32px;
	width : 39px;
	padding-top : 0.5rem;
	text-align : center;
}
.sidebar_button {
	font-size : 120%;
	height : 32px;
	width : 39px;
	padding-top : 0.5rem;
	text-align : center;
}
/*#btn_makecanvas {
	background-color : #c4fab3;
	border : 0;
}
#btn_makecanvas:active {
	background-color : #91d780;
}*/


#ctrlpanel {
	display : none;
	margin-top : 0px;
	margin-left : 0px;
	position:fixed;
	width:100%;
}
#info_panel {
	margin : 0;
	padding :0;
	width : 100%;
}
#sysbtn_panel {
	float : left;
	/*margin-right : 1em;*/
	width : 5%;
}
#info_panel .info_opebutton {
	width : 100%;
	height : 1.5rem;
	background-color : #c4fab3;
	border :0px solid #999999;
	padding : 0 0 0 0;
	font-size : 120%;
}
#info_panel .info_opebutton2 {
	width : 47%;
	height : 1.5rem;
	background-color : #FFB99C;
	border :0px solid #999999;
	padding : 0 0 0 0;
	font-size : 120%;
}
#info_panel .info_opebutton2:disabled {
	background-color : #d3c9c5;
}
.button-panel{
	width : 85%;
	/*margin-left:1em; 
	margin-top:10px; 
	margin-right:10em; 
	margin-bottom:3px;*/
}
#menupanel {
	display : none;
	width : 95%;
	height : 40%;
	position : absolute;
	top : 3rem;
	left : 0;
	background-color : #B6BBE4;
	padding: 0.5rem 0.5rem;
	z-index : 10;
	opacity : 0.85;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
}
#menu_left {
	width : 15%;
	height : 100%;
	float : left;
	opacity : 1;
	/*border-right : 4px inset #ADADAD;*/
}
#menu_left button {
	height : 20%;
}
#menu_right {
	width : 85%;
	height : 50%;
	margin-left : 2em;
	opacity : 1;
	display : block;
}
#menu_bottom {
	clear : both;
	width : 100%;
	height : 50%;
	display : none;
}

#colorpicker {
	height : 27px;
	width : 10%;
	float:left;
}
#colorpalette {
	width : 100%;
	margin-top : 3px;
}
.explain_palette {
	float:left;
	vertical-align : center;
	height : 30px;
	width : 2%;
}
#palettepanel {
	width : 80%;
	border-collapse:collapse;
}
.palette_button {
	width : 5%;
	height : 27px;
	border : 1px solid #808080;
	background-color : #FFFFFF;
	text-align : center;
}

.layer_button {
	width : 32px;
	height : 32px;
	background-color : #FFFFFF;
	color : #000000;
	
}
.layer_button_show {
	border : 1px solid #808080;
}
.layer_button_hidden {
	border : 3px double #808080;
	text-decoration : line-through;
}
.layer_button_selected {
	width : 32px;
	height : 32px;
	background-color : #AAAAFF;
	color : #FFFFFF;
	
}
.layinfo_ui {
	margin-left : 1rem;
}
#layinfo_opacity {
	width : 20%;
}
.laycontrol_button {
	width : 5rem;
}
#lay_preview {
	width : calc(32px*4);
	height : calc(32px*4);
	overflow : hidden;
	float : left;
	background-color : #D8DDF6
}

#dlg_pen_mode {
	display : none;
	width : 50%;
	height : 80%;
	overflow : hidden;
	position : absolute;
	top : 3rem;
	left : 44%;
	background-color : #B6BBE4; /*#E4D8E1;*/
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.85;
	z-index : 11;
}
#dlg_pen_mode ul {
	padding-left : 25px;
	list-style : none;
}
#dlg_pen_mode ul > li.item1stfolder {
	list-style : none;
	width : 97%;
	
	margin-bottom : 1px;
}
li.itemfolder_special {
	background-color : #F8DD9E;
}
li.itemfolder_normal {
	background-color : #F8F888;
}
li.itemfolder_brush {
	background-color : #CBFBE4;
}
#dlg_pen_mode div > div.item1st {
	/*list-style : none;*/
	width : 25%;
	height : 35px;
	display: inline-block;
	font-size : 80%;
	vertical-align : middle;
	
	background-color : #E4E444;
	margin-bottom : 0px;
	cursor : default;
}
img.floatIcon {
	float: left;
}
#dlg_pen_mode div > div.item1st:hover {
	background-color : #949444;
}
#dlg_pen_mode div > div.item1st-brush {
	background-color : #63DE98;
}
#dlg_pen_mode div > div.item1st-brush:hover {
	background-color : #2DBE6B;
}

#dlg_pen_mode div > div.item1st-special {
	background-color : #E4AA5D;
}
#dlg_pen_mode div > div.item1st-special:hover {
	background-color : #C2883B;
}
#dlg_canvasinfo {
	display : none;
	width : 32%;
	height : 30%;
	overflow : hidden;
	position : absolute;
	top : 3rem;
	left : 2%;
	padding: 0.5rem 0.5rem;
	background-color : #B6BBE4;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.9;
	z-index : 11;
}
#tbl_magni {
	width : 95%;
}
td.magni_element {
	background-color : #F0EEC6;
	cursor : default;
	text-align : center;
	height : 1.2rem;
}
td.magni_element:hover {
	background-color : #D8CCA4;
}
td.magni_element:active {
	background-color : #B6AA92;
}
td.magni_strong {
	background-color : #E6E05B;
	cursor : default;
	text-align : center;
}
td.magni_strong:hover {
	background-color : #C4B839;
}
td.magni_strong:active {
	background-color : #A29617;
}

#dlg_layer {
	display : none;
	width : 75%;
	height : 30%;
	overflow : hidden;
	position : absolute;
	top : 3rem;
	left : calc(20%);
	padding: 0.5rem 0.5rem;
	background-color : #B6BBE4;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.9;
	z-index : 12;
}
#pickerpanel{
	position : absolute;
	top : calc(32px + 3rem + 2px);
	left : 1%;
	/*border:1px solid gray;*/
	background-color : #B6BBE4;
	width : 200px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	border-radius : 3px;
	opacity : 0.85;
	z-index : 999;
}
#progresspanel {
	position:absolute;
	top:0;
	left:0;
	width:300px;
	height:120px;
	background-color : #B6BBE4;;
	display : none;
	z-index : 999;
}
#progressicon {
	margin-left : auto;
	margin-right : auto;
	width : 50px;
	height : 50px;
	border-radius:40px 40px 40px 40px;
	border : dashed 2px black;
}
@-webkit-keyframes waitprogress {
	0% { transform:rotate(0deg); }
	25% { transform:rotate(45deg); }
	50% { transform:rotate(90deg); }
	75% { transform:rotate(180deg);}
	100% {  transform:rotate(360deg); }
}
@keyframes waitprogress {
	0% { transform:rotate(0deg); }
	25% { transform:rotate(45deg); }
	50% { transform:rotate(90deg); }
	75% { transform:rotate(180deg);}
	100% {  transform:rotate(360deg); }
}
.get-animestart {
-webkit-animation-duration: 4s;
-webkit-animation-name : waitprogress;
-moz-animation-duration: 4s;
-moz-animation-name : waitprogress;
animation-duration: 4s;
animation-name : waitprogress;
animation-fill-mode : forwards;
animation-iteration-count : infinite;
}
