bodyl{
	
}
#fl_projpath {
    display : none;
}

.base-panel{
	/*margin-left:45px; */
	/*margin-top: 6rem; 60px; 
	margin-right:1rem; 
	margin-bottom:1rem;*/
	/*border:2px solid #808080;
	width:600px;
	float : left;*/
	/*width : 95%;*/
	height : calc(100% - 6.1rem); /*85%;*/
	
	position : relative;
	top : 6.2rem;
	display : none;
	z-index : 1;
	/*overflow : scroll;*/
	overflow : hidden; /*ストアアプリではこっちを有効化すること*/
	-webkit-touch-action:none;
	-ms-touch-action:none;
	touch-action:none;

}


 select.pluginlist {
	width : 15rem;
    height : 70%;
}
